{% extends 'base.html' %}

{% block title %}Редактирование новости{% endblock title %}
{% block body %}
<div class="container">
    <h1>Редактирование новости</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{ paper.title }}" placeholder="Название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Аннотация">{{ paper.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Текст">{{ paper.text }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock body %}